


<!-- Admin Page before deadline-->
<!DOCTYPE html>
<html>
<head>
	 <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link
      href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900"
      rel="stylesheet"
    />

    <title>AdminBoard</title>
<!--
Reflux Template
https://templatemo.com/tm-531-reflux
-->
    <!-- Bootstrap core CSS -->
     <link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />

   
  
   

    <!-- Additional CSS Files -->
   
    <link rel="stylesheet" href="\static\assets\css\fontawesome.css" />
    <link rel="stylesheet" href="\static\assets\css\templatemo-style.css" />
    <link rel="stylesheet" href="\static\assets\css\owl.css" />
    <link rel="stylesheet" href="\static\assets\css\lightbox.css" /> 
</head>
<body>

    <div id="page-wraper">
      <!-- Sidebar Menu -->
      <div class="responsive-nav">
        <i class="fa fa-bars" id="menu-toggle"></i>
        <div id="menu" class="menu">
          <i class="fa fa-times" id="menu-close"></i>
          <div class="container">
            <div class="image">
             <a href="#"><img src="\static\assets\images\admin.png" alt="" /></a> 
            </div>
            <div class="author-content">
            	
               <h4>Admin</h4>
              <span>Plagiarism</span>
            </div>
            <nav class="main-nav" role="navigation">
              <ul class="main-menu">
                <li><a href="">About Me</a></li>
                <li><a href="/Ofiles">Uploaded Files</a></li>
                <li><a href="/IdPwd"> Users ID Password</a></li>
                <li><a href=""> Help</a></li>
		<li><a href="/">Log Out </a></li>
                
  
              </ul>
            </nav>
            <div class="copyright-text">
               <h5><b>Offline Plagiarism Tool</b></h5>
            </div>
          </div>
        </div>
      </div>




     <section class="section about-me" data-section="section1">
        <div class="container">
          <div class="section-heading">
            <h2>Welcome Admin</h2>
            <div class="line-dec"></div>
            <span>
            	 <h5>This is Admin Dashboard of Plgiarism Tool. This Admin has rights to work with Tool</h5>
            	 </span
            >
          </div>
          <div class="left-image-post">
            <div class="row">
              <div class="col-md-6">
                <div class="left-image">
                  <img src="static/assets/images/self.jpg" alt="" />  
                </div>
              </div>
              <div class="col-md-6">
                <div class="right-text">
                  <h4>Offline Plagiarism Tool</h4>
                  <p> <h5>
                    Plagiarism is copying another person's ideas, words or writing and pretending that they are one's own work. It can involve violating copyright laws. College students who are caught plagiarizing can be expelled from school.Writers who plagiarize commit serious legal and ethical violations. </h5>
                  </p>
                  <div class="white-button">
                    <a href="#">Read More</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
             <br><br><br>

                  

      <p> <h5>It is usually not enough to know what plagiarism is, students must also know how to avoid plagiarism.
             Writers are as responsible for intentional plagiarism as they are for accidental plagiarism. 
             It is important to cite sources while doing research. Putting this off until later can cause some sources to be forgotten or incorrectly cited. </h5></p>

  

      </section> 
 

</body>
</html>
