<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link
      href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900"
      rel="stylesheet"
    />

    <title>Reflux HTML CSS Template</title>
<!--
Reflux Template
https://templatemo.com/tm-531-reflux
-->
    <!-- Bootstrap core CSS -->
    <link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />

    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="/static/assets/css/fontawesome.css" />
    <link rel="stylesheet" href="/static/assets/css/templatemo-style.css" />
    <link rel="stylesheet" href="/static/assets/css/owl.css" />
    <link rel="stylesheet" href="/static/assets/css/lightbox.css" />
  </head>

  <body>
    <div id="page-wraper">
      <!-- Sidebar Menu -->
      <div class="responsive-nav">
        <i class="fa fa-bars" id="menu-toggle"></i>
        <div id="menu" class="menu">
          <i class="fa fa-times" id="menu-close"></i>
          <div class="container">
            <div class="image">
              <a href="#"><img src="/static/assets/images/author-image.jpg" alt="" /></a>
            </div>
            <div class="author-content">
              <h4>Reflux Me</h4>
              <span>Web Designer</span>
            </div>
            <nav class="main-nav" role="navigation">
              <ul class="main-menu">
                <li><a href="#section1">About Me</a></li>
                <li><a href="#section2">What I’m good at</a></li>
                <li><a href="#section3">My Work</a></li>
                <li><a href="#section4">Contact Me</a></li>
              </ul>
            </nav>
            
          </div>
        </div>
      </div>

      <section class="section about-me" data-section="section1">
        <div class="container">
          <div class="section-heading">
            <h2>About Me</h2>
            <div class="line-dec"></div>
            <span
              >This is a Bootstrap v4.2.1 CSS Template for you. Edit and use
              this layout for your site. Updated on 21 May 2019 for repeated main menu HTML code.</span
            >
          </div>
          <div class="left-image-post">
            <div class="row">
              <div class="col-md-6">

              </div>
              <div class="col-md-6">
                
              </div>
            </div>
          </div>
          <div class="right-image-post">
            <div class="row">
              <div class="col-md-6">
               
              </div>
              <div class="col-md-6">

              </div>
            </div>
          </div>
        </div>
      </section>

  </body>
</html>
