<!DOCTYPE html>
<html class="no-js" lang="">
    <head>
        <!-- meta charset -->
        <meta charset="utf-8">
        <!-- site title -->
        <title>Facts about Plagiarism</title>
        <!-- meta description -->
        <meta name="description" content="">
        <!-- mobile viwport meta -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- fevicon -->
        <link rel="shortcut icon" type="image/x-icon" href="favicon.ico">
        
        <!-- ================================
        CSS Files
        ================================= -->
      <link href="https://fonts.googleapis.com/css?family=Libre+Baskerville:400,400i|Open+Sans:400,600,700,800" rel="stylesheet">
        <link rel="stylesheet" href= "{{ url_for('static',filename='css/themefisher-fonts.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static',filename='css/owl.carousel.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static',filename='css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static',filename='css/main.css') }}">
        <link rel="stylesheet" href="{{ url_for('static',filename='css/dark.css') }}">
        <link id="color-changer" rel="stylesheet" href="css/colors/color-0.css">
    </head>

    <body class="dark">

        <div class="preloader">
            <div class="loading-mask"></div>
            <div class="loading-mask"></div>
            <div class="loading-mask"></div>
            <div class="loading-mask"></div>
            <div class="loading-mask"></div>
        </div>
         <div class="navbar-header">
      <div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="/">Home</a></li>
      <li><a href="/welcome">Welcome</a></li>
      <li><a href="/login">User login</a></li>
      <li><a href="/admin_log_next">Admin login</a></li>
      <li><a href="/contact">Contact</a></li>
      <li><a href="/feedback">Feedback</a></li>
      <li><a href="/facts">Facts</a></li>
      <li><a href="/help">Help</a></li>

    </ul>
  </div>
</nav>
        <main class="site-wrapper">
            <div class="pt-table">
                <div class="pt-tablecell page-quotes relative">
                    <!-- .close -->
                    <a href="./" class="page-close"><i class="tf-ion-close"></i></a>
                    <!-- /.close -->

                    <div class="container">
                        <div class="row">
                            <div class="col-xs-12 col-md-offset-1 col-md-10 col-lg-offset-2 col-lg-8">
                                <div class="page-title text-center">
                                    <h2><span class="primary">FACTS ABOUT PLAGIARISM</span>
                                    
                                </div>
                            </div>                            
                        </div> <!-- /.row -->

                        <div class="row">
                            <div class="col-xs-12">
                                <div class="testimonials">
                                    <div class="item clear">
                                        
                                        <div class="text">
                                           <h3> 1: Old Cases of Plagiarism Are Constantly Being Discovered</h3><br>
<p>In 2015, NPR discovered plagiarism in some of its articles dating back to 2011. In 2017, famed war photographer Eduardo Martins was revealed to be a fraud after it was discovered that his images were plagiarized. This was after operating for several years and amassing some 125,000 Instagram followers.
Just because you get away with a plagiarism today doesn’t mean you will tomorrow. Old cases of plagiarism are routinely being detected years or even decades after the fact using modern plagiarism detection software.</p>                                            
                                        </div>
                                    </div>
                                    <div class="item clear">
                                        
                                        <div class="text">
                                            <h3>2:Nigerian President Plagiarizes President Obama </h3><br>
<p> Nigerian President Muhammadu Buhari addressed his nation and announced a new push to eliminate “dishonestly, indolence, unbridled corruption and widespread impunity” in the country.Unfortunately for Buhari, it turned out that at least one passage from the speech was plagiarized nearly verbatim from U.S. President Barack Obama.
Though Buhari quickly apologized and dismissed the aid who he said was responsible for the plagiarism, the scandal put more than a small crimp in Buhari’s anti-corruption campaign.
The scandal seems to have largely subsided and became little more than a footnote to his career.</p>


                                        </div>
                                    </div>
                                    <div class="item clear">
                                        
                                        <div class="text">
                                            <h3>3:The New York Daily News Plagiarism Scandal</h3><br>
<p>The New York Daily News found itself at the center of an unusual plagiarism scandal.

The story started when observers noticed that an April 19th article by reporter Shaun King bore a strong resemblance to an earlier article by The Daily Beast. This included several pieces of overlapping text, all used without citation, and even a typo found in the original.

However, the story took a strange turn when King took to Twitter and published timestampped emails of his submission, showing that he did not plagiarize. As it turned out, it was an editor at the paper, later identified as Jotham Sederstrom, who edited out the attribution as he prepared it to go online.

Sederstrom was fired for “unacceptable” mistakes.</p>

                                            
                                        </div>
                                    </div>
                                    <div class="item clear">
                                     <div class="text">
                                      <h3>4:Mexico's President Accused of Plagiarism

</h3><br>
<p>In August, Mexico’s President Peña Nieto faced allegations that nearly 29% of his 1991 law thesis was copied from other authors without attribution.

Nieto, for his part, was dismissive of the allegations saying that they were 25 years old and had no relevance today. He went on to say that he did not plagiarize and that he simply made “style errors” in the work.

For Nieto it was his second scandal from this team of researchers. Just two years prior, they had uncovered that he had purchased a $7 million home from a government contractor, sparking an integrity scandal.

At the time of plagiarism scandal, Nieto’s party, PRI, had a 23% approval rating.Nieto does not face reelection again until 2018 and remains President as of this writing.</p>
 </div>
                                    
                        </div> <!-- /.row -->
                    </div> <!-- /.container -->

                    </nav>
                    <!-- /.container -->

                </div> <!-- /.pt-tablecell -->
            </div> <!-- /.pt-table -->
        </main> <!-- /.site-wrapper -->
        
        <!-- ================================
        JavaScript Libraries
        ================================= -->
     <script src="{{url_for('static', filename='js/vendor/jquery-2.2.4.min.js')}}"></script>
        <script src="{{url_for('static', filename='js/vendor/bootstrap.min.js')}}"></script>
        <script src="{{url_for('static', filename='js/jquery.easing.min.js')}}"></script>
        <script src="{{url_for('static', filename='js/isotope.pkgd.min.js')}}"></script>
        <script src="{{url_for('static', filename='js/jquery.nicescroll.min.js')}}"></script>
        <script src="{{url_for('static', filename='js/owl.carousel.min.js')}}"></script>
        <script src="{{url_for('static', filename='js/jquery-validation.min.js')}}"></script>
        <script src="{{url_for('static', filename='js/form.min.js')}}"></script>
        <script src="{{url_for('static', filename='js/main.js')}}"></script>
    </body>
</html>