<!DOCTYPE html>
<html class="no-js" lang="">
    <head>
        <!-- meta charset -->
        <meta charset="utf-8">
        <!-- site title -->
        <title>OFFLINE PLAGAIRISM TOOL</title>
        <!-- meta description -->
        <meta name="description" content="">
        <!-- mobile viwport meta -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- fevicon -->
        <link rel="shortcut icon" type="image/x-icon" href="favicon.ico">
       

        <!-- ================================
        CSS Files
        ================================= -->
        <link href="https://fonts.googleapis.com/css?family=Libre+Baskerville:400,400i|Open+Sans:400,600,700,800" rel="stylesheet">
        
 <link href="https://fonts.googleapis.com/css?family=Libre+Baskerville:400,400i|Open+Sans:400,600,700,800" rel="stylesheet">
             <link rel="stylesheet" href= "{{ url_for('static',filename='css/themefisher-fonts.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static',filename='css/owl.carousel.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static',filename='css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static',filename='css/main.css') }}">
        <link rel="stylesheet" href="{{ url_for('static',filename='css/dark.css') }}">
        <link id="color-changer" rel="stylesheet" href="css/colors/color-0.css">
         <nav class="navbar navbar-inverse">
  

    </head>
   
    <body class="dark">

        <div class="preloader">
            <div class="loading-mask"></div>
            <div class="loading-mask"></div>
            <div class="loading-mask"></div>
            <div class="loading-mask"></div>
            <div class="loading-mask"></div>
        </div>
        <div class="navbar-header">
      <div>
    <ul class="nav navbar-nav">
          <li class="active"><a href="/">Home</a></li>
      <li><a href="/welcome">Welcome</a></li>
      <li><a href="/login">User login</a></li>
      <li><a href="">Admin login</a></li>
      <li><a href="/contact">Contact</a></li>
      <li><a href="/feedback">Feedback</a></li>
      <li><a href="/facts">Facts</a></li>
      <li><a href="/help">Help</a></li>
    </ul>
  </div>
</nav>
  

        
        <main class="site-wrapper">
            <div class="pt-table">
                <div class="pt-tablecell page-welcome relative">
                    <!-- .close -->
                    <a href="./" class="page-close"><i class="tf-ion-close"></i></a>
                    <!-- /.close -->
    
                    <div class="author-image-large">
                        
                    </div>
                    
                    <div class="container">
                        <div class="row">
                            <div class="col-xs-12 col-md-6 col-lg-7">
                                <div class="page-title">
                                    <h2 style="font-family:times new roman">WHAT IS <span class="primary">PLAGIARISM?</span> </h2>
                                    <p >Plagiarism is  the practice of taking someone else's work or ideas and passing them off as one's own . </p><p>Due to the rapid growth of techonologies , there is been rush among the people about carrying out research on various innovative ideas and then publishishing it by achieving credibility for it; But when it comes to the originality of their published work there has to something which will verify that the content is not copied and duplicated.</p> Our Tool will help you to detect the duplicates.</p>
                                </div>
                            </div>
                        </div> <!-- /.row -->
                        <div class="col-xs-12 col-md-6 col-lg-7">
                        	<div class="row">
                        
                                <div class="page-title">
                                    <h2 style="font-family:times new roman">WHY TO USE  <span class="primary">OFFLINE PLAGIARISM TOOL?</span> </h2>
                                    <p >Using someone else’s text without attribution is plagiarism, whether you meant to do it or not. Unintentional plagiarism of even a sentence or two can have serious consequences.</p><p> For students, plagiarism often means a failing grade, academic probation, or worse. Fortunately, there is a tool that can help.</p><p> We originally designed our offline plagiarism checker for students, but it’s a useful tool for writers in any field who want to create fresh, original, plagiarism-free work.</p>
                                </div>
                            </div>
                        </div> <!-- /.row -->
                         <div class="col-xs-12 col-md-6 col-lg-7">
                         	<div class="row">
                        
                                <div class="page-title">
                                    <h2 style="font-family:times new roman">HOW OFFLINE PLAGIARISM TOOL <span class="primary">WORKS?</span> </h2>
                                     <p >The documents are accepted by the user before the deadline and stored and all the operations are performed on it. </p><p> When the deadline is crossed the user has login with valid credentials and then user can view all the comparison scores according to all the features provided by our tool.</p>
                                     <p>The user can view the similarity percentage on the basis of words as well as its meaning by choosing the appropriate option.</p>
                                </div>
                            </div>

                        
                    </div> <!-- /.container -->

                    <!-- /.container -->

                </div> <!-- /.pt-tablecell -->
            </div> <!-- /.pt-table -->
        </main> <!-- /.site-wrapper -->
        
        <!-- ================================
        JavaScript Libraries
        ================================= -->
         <script src="{{url_for('static', filename='js/vendor/jquery-2.2.4.min.js')}}"></script>
        <script src="{{url_for('static', filename='js/vendor/bootstrap.min.js')}}"></script>
        <script src="{{url_for('static', filename='js/jquery.easing.min.js')}}"></script>
        <script src="{{url_for('static', filename='js/isotope.pkgd.min.js')}}"></script>
        <script src="{{url_for('static', filename='js/jquery.nicescroll.min.js')}}"></script>
        <script src="{{url_for('static', filename='js/owl.carousel.min.js')}}"></script>
        <script src="{{url_for('static', filename='js/jquery-validation.min.js')}}"></script>
        <script src="{{url_for('static', filename='js/form.min.js')}}"></script>
        <script src="{{url_for('static', filename='js/main.js')}}"></script>
    </body>
</html>